<li class="list-group-item">{{#link-to 'question' question.id}}{{question.author}} - "{{question.content}}"{{/link-to}}
  {{#if areNotesShowing}}
    <p class="well">{{question.notes}}</p>
    <a class="small" {{action 'hideNotes'}}>hide notes</a>
  {{else}}
    <a class="small" {{action 'showNotes'}}>see notes</a>
  {{/if}}
</li>
